<a href="https://colab.research.google.com/github/seon0415/BPA-/blob/main/230305_6%EA%B8%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%B4%88%EB%B0%98_(%EC%B2%AB%EC%88%98%EC%97%85).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 분석기초반
- 데이터프레임에 대한 이해가 완벽해야 한다.
- df
- 2차원 / 2차원리스트

In [ ]:
a = [[1,2],[4,5],[5,6]]

In [ ]:
a

[[1, 2], [4, 5], [5, 6]]

In [ ]:
#2차원 리스트의 요소를 접근하기 위해서 index를 기준으로 접근
a[0][0] #2차원

1

- x,y 좌표평면 2차원
- 데이터프레임은 행과 열로 행은 index, 열은 컬럼 column 
- 데이터 분석 전처리에 판다스는 필수, numpy 기본

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'이름':['홍길동','김영희','김철수'],
                  '성적':['A','B','A'],
                  '점수':[10,20,30]})

In [ ]:
df

    이름 성적  점수
0  홍길동  A  10
1  김영희  B  20
2  김철수  A  30

- 2차원라는 형태
- 컬럼, 열, 이름, 성적, 점수
- 0,1, 2 index의 개념은 열 

- 데이터프레임은 행과 열로 이루어졌고, 데이터프레임을 추출하거나 조작할 때는 행과 열로 접근해야 한다!

- 성적만 추출하고 싶어요!

In [ ]:
df['성적'] #성적만 가지고 온다. #시리즈형태로 바뀐다.
#시리즈 형태로 다양한 연산이 가능하고, numpy 에서도 제공하는 것을 이용할 수 있다.
#연산하기 가장 좋은 형태 판다스 제공한다.

0    A
1    B
2    A
Name: 성적, dtype: object

- 성적과 이름을 추출해줘!

In [ ]:
df[['이름','성적']] #열을 기준으로 추출하는 것  컬럼을 기준으로 추출

In [ ]:
df[['이름','점수']]

- 인덱스를 기준으로 추출 할 수 있다.

In [ ]:
df['점수'].sum()

In [ ]:
df['점수'].sum()

In [ ]:
df[['이름','점수']].sum()

In [ ]:
df.sum()

- mpg데이터로 살펴보기!

In [ ]:
mpg = pd.read_csv('mpg.csv')

In [ ]:
mpg['manufacturer']

In [ ]:
mpg.columns

In [ ]:
mpg_sp= mpg[['manufacturer', 'model', 'hwy']]

### 컬럼을 기준으로 데이터를 추출했는데 
- model, hwy 는 데이터 타입이 다르다.

In [ ]:
#데이터타입을 보는 방법
mpg.info()

In [ ]:
mpg_sp

- object는 어떤 식으로 접근해야 할까?
- 문자열 데이터를 숫자로 변경해야 한다. 
- object 맞게 기술통계를 해야 한다.
- 1. 빈도 , 2. 라벨링(인코딩)

In [ ]:
# 아우디 차량은 몇 개가 있어? 
mpg_sp['manufacturer'].value_counts()#값의 개수를 세는 것

In [ ]:
mpg_mc= mpg_sp['manufacturer'].value_counts()#값의 개수를 세는 것

In [ ]:
mpg_mc= mpg_mc.to_frame()

In [ ]:
mpg_mc

In [ ]:
mpg

In [ ]:
sum(mpg['cty']/len(mpg)) #데이터프레임에서 값을 추출하여 1차원으로 변경하면 계산 편하게 할 수 있다!

16.858974358974322

In [ ]:
mpg.head(30) #앞의 데이터 살펴보는 것

In [ ]:
mpg.tail() #뒤의 데이터 살펴보는 것

In [ ]:
mpg.shape #행과 열 234 행과 11개 컬럼

In [ ]:
mpg.info()

In [ ]:
mpg.describe() #요약통계치 제공 #수치형 데이터만 존재한다.

- describe 데이터 대한 분포, 이상치 
- how to 
- 데이터 분석기초반 전체 성적이 모두 50점 평균은 50점 / 데이터 분석기초반 전체 중 반은 0점 반은 100점이면 평균 50점/
- 평균의 함정을 빠지지 않기 위해 산포도를 볼 수 있는 분산, 표준편차
- 분산 표준편차는 평균에 기반으로 
- 사분위수 25 50 75 % IQR 중앙값을 기준으로 한다. 
- 평균의 함정에 빠지지 않게 요약 통계를 보고 데이터의 개괄적인 분포를 이해한다.

- 데이터 분포를 왜 볼까?
- 이상치를 왜 봐야 하나?

- 회귀분석, 분류, 머신러닝, 딥러닝, 통계분석 등등
- 정규분포를 가정하고 진행한다.

In [ ]:
mpg['cty'].hist()

In [ ]:
mpg['hwy'].hist()

In [ ]:
mpg_sp

In [ ]:
mpg_mc.describe()

In [ ]:
#cty, hwy 더하고 싶다.
mpg['tot'] = mpg['cty'] + mpg['hwy']

In [ ]:
mpg #파생변수로 만들수 있다 tot.

In [ ]:
import numpy as np

In [ ]:
mpg['test']=np.where(mpg['tot'] >40,'good','bad')

In [ ]:
mpg.test.value_counts()

good    123
bad     111
Name: test, dtype: int64

In [ ]:
test_ct =mpg['test'].value_counts()

In [ ]:
test_ct.plot.bar()

## 필수과제 1
- mpg 데이터를 가지고 간단한 전처리를 진행해 주세요.
- 데이터를 추출할 질문을 정하고 -> 코드를 작성하고 -> 주석을 작성하고 -> 결론을 도출!
- ex) 아우디의 차량의 개수와, 아우디 차량의 고속도로 연비는? ( 먼저 데이터를 보고 본인이 질문을 하고 그걸 코드로 작성)
- 질문은 최소 5개 
- 구글링을 해도 좋습니다. 데이터프레임 전처리, 위에 적은 문법 내용을 구글링하면 기본적으로 다 나올 것 
- 과제 노션에 제출할 수 없으니 노션 권한이 부여 받은 후 최소 2일 안에 
- 과제 기한 ex) 다음 주 일요일 권한 부여되면 화요일 오후 11시 59분 안까지 과제 제출
- 노션 권한 8일 예정 10일까지 진행해 주시면 됩니다!!