<a href="https://colab.research.google.com/github/seon0415/BPA-/blob/main/2%EC%A3%BC%EC%B0%A8%20%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 필수과제 (mpg, 타이타닉)
-  배운 내용을 응용해서 문법 2개 이상 사용하기
- 문법을 사용할때 꼭 질문 먼저 하고 그 질문에 답변이 되는 코드
- 최소 10개 이상 코드 작성

2. 복습과제

In [1]:
import pandas as pd

exam=pd.read_csv('exam.csv')

 데이터 전처리 할 수 있는 pandas 문법
- querry()
- df[] #컬럼 추출
- sort_values()
- groupby()
- assign() , 외 파생변수 만들기
- agg()
- merge()
- concat()
- loc, iloc

## **query**

In [ ]:
exam.query('english>30 & math>50')

In [ ]:
exam.query('nclass==3 & math>30')

In [ ]:
# 값에 대한 조건을 걸어 qery식을 만든 후에 다시 컬럼을 추출할 수 있다
exam.query('nclass==3 & math>20')[['nclass','math']]

## **sort_values**

In [ ]:
exam.sort_values('math',ascending=False)

In [ ]:
exam.sort_values(['math', 'english'], ascending=True)
#디폴트 기준은 처음 컬럼이다

In [ ]:
exam.sort_values(['math', 'english'], ascending=['True','False'])
#둘다 오름차순으로 된다

## **파생변수 (assign, lambda)**

In [ ]:
#평균 assign

exam.assign(total_3=(exam['math']+exam['english']+exam['science'])/3,
            sum_3=exam['math']+exam['english']+exam['science'])

In [ ]:
#원본데이터를 바꾸고 싶은 방법
exam1=exam.assign(total_3=(exam['math']+exam['english']+exam['science'])/3,
            sum_3=exam['math']+exam['english']+exam['science'])

exam3=exam
exam3.assign(total_3=(exam['math']+exam['english']+exam['science'])/3,
            sum_3=exam['math']+exam['english']+exam['science'], inplace=True)

In [20]:
import numpy as np

np.where(exam['science']>50)

(array([ 1,  2,  3,  4,  5, 10, 12, 14, 15, 16, 17, 18, 19]),)

In [ ]:
exam.assign(test=np.where(exam['science']>50, 'good', 'bad'))

In [ ]:
exam['tot']=exam['math']+exam['english']+exam['science']

In [ ]:
#lambda
exam.assign(new_tot=lambda x: x['math']+x['english']+x['science'])

## **groupby, agg**
- 엑셀에서 말하는 피벗 개념
- 피벗이란 전체 데이터를 가지고 내가 원하는 칼럼만 요약통계를 볼 수 있다

In [ ]:
exam.groupby('nclass').agg(mean_english=('english', 'sum'))

In [ ]:
exam.groupby('nclass').agg(mean_english=('english', 'median'))

In [ ]:
exam.groupby('nclass').agg(mean_math=('math', 'mean'),
                           sum_math=('math', 'sum'),
                           max_math=('math', 'max'),
                           n=('math', 'count'))

## **merge (공통된 거 있을때)**
- 기존 공모전 데이터와 공공데이터를 붙여야 하는 경우
 - 데이터를 합친다는 것은 공통된 기준이 있어야 한다

In [30]:
a=pd.DataFrame({'name':['김철수','김영희','홍길동'],
                '수학점수':[10,20,30]})
b=pd.DataFrame({'name':['김철수','김영희','홍길길'],
                '영어점수':[10,20,40]})

In [31]:
total=pd.merge(a,b,how='inner')
  #공통된 기준은 name 김철수, 김영희

In [32]:
total

  name  수학점수  영어점수
0  김철수    10    10
1  김영희    20    20

## **concat (그냥 덩어리째로 붙음)**

In [33]:
pd.concat([a,b], axis=1)

  name  수학점수 name  영어점수
0  김철수    10  김철수    10
1  김영희    20  김영희    20
2  홍길동    30  홍길길    40

In [34]:
pd.concat([a,b])

  name  수학점수  영어점수
0  김철수  10.0   NaN
1  김영희  20.0   NaN
2  홍길동  30.0   NaN
0  김철수   NaN  10.0
1  김영희   NaN  20.0
2  홍길길   NaN  40.0