<a href="https://colab.research.google.com/github/seon0415/BPA-/blob/main/%EB%B0%95%EC%84%9C%EC%97%B029_0312_%ED%95%84%EC%88%98%EA%B3%BC%EC%A0%9C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

객실등급 Pclass
탑승위치 Embarked
형제자매, 배우자 SipSp

In [ ]:
titanic=pd.read_csv('titanic.csv')
titanic

In [ ]:
#사용요금에 따른 생존율 비교 막대그래프
titanic2=titanic.assign(wealth=np.where(titanic['fare']>80, 'tycoon',\
                                     np.where(titanic['fare']>40, 'rich',\
                                              np.where(titanic['fare']>20, 'fine',\
                                                       np.where(titanic['fare']<10, 'normal','poor')))))
titanic2.query('survived==1').groupby('wealth')['survived'].sum().sort_values().plot.bar()

In [ ]:
#10대 여자아이들과 남자아이들의 생존율 비교
print(titanic.query('age<20 & sex=="female"')['survived'].mean()*100,
      titanic.query('age<20 & sex=="male"')['survived'].mean()*100)

70.66666666666667 29.213483146067414

In [ ]:
#alone에 따른 생존률
titanic.groupby('alone')['survived'].mean()*100

In [ ]:
#survived에 따른 연령 분포(10대,20대,..)

titanic2=titanic.assign(aged=np.where(titanic['age']<20, 'child',\
                                     np.where(titanic['age']<30, 'young',\
                                              np.where(titanic['age']<50, 'adult',\
                                                       np.where(titanic['age']<65, 'middle','senior')))))
titanic2.query('survived==1').groupby('aged')['survived'].sum().sort_values().plot.bar()

In [ ]:
#plcass에 따른 생존자 수
titanic.query('alive=="yes"').groupby('pclass').count()['alive']

In [ ]:
#pclass에 따른 생존률 막대그래프
rate=titanic.groupby('pclass')['survived'].mean()*100
rate.plot.bar()

In [ ]:
#pclass에 따른 평균 사용요금
titanic.groupby('pclass').agg(mean=('fare','mean'))

In [ ]:
#embarked에 따른 생존자 수
#titanic.groupby(['embarked','survived'])['survived'].count()
titanic.query('survived==1').groupby('embarked').agg(count=('survived','count'))

In [ ]:
#sex에 따른 생존률 막대그래프
sex_survived = titanic.groupby('sex')['survived'].mean()*100
sex_survived.plot.bar()

In [ ]:
#3등급 객실에서 탑승위치 S에 있는 여자탑승객의 평균나이는 몇살인가?
titanic.query('pclass==3 & embarked=="S" & sex=="female"')['age'].mean()