<a href="https://colab.research.google.com/github/seon0415/BPA-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 필수과제 1
- 타이타닉 데이터를 가지고 IQR 값을 계산해 주시고, 제거 전과 후에 대한 통계치를 비교 분석해 주세요.
- IQR을 사용하려면 수치형데이터

### 복습과제는 mpg, exam 데이터를 가지고 진행

- insa()
- dropna(subset=[])

In [11]:
import pandas as pd
import numpy as np

mpg=pd.read_csv('mpg.csv')
exam=pd.read_csv('exam.csv')

In [8]:
exam

    id  nclass  math  english  science
0    1       1    50      NaN       50
1    2       1    60     97.0       60
2    3       1    45     86.0       78
3    4       1    30      NaN       58
4    5       2    25     80.0       65
5    6       2    50     89.0       98
6    7       2    80     90.0       45
7    8       2    90      NaN       25
8    9       3    20     98.0       15
9   10       3    50     98.0       45
10  11       3    65     65.0       65
11  12       3    45      NaN       32
12  13       4    46     98.0       65
13  14       4    48     87.0       12
14  15       4    75     56.0       78
15  16       4    58     98.0       65
16  17       5    65     68.0       98
17  18       5    80     78.0       90
18  19       5    89     68.0       87
19  20       5    78     83.0       58

In [22]:
exam.loc[[0,3,7,11],['english']]=np.nan
exam.query('nclass==5').science=np.nan

<ipython-input-22-2d0463fad0ef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exam.query('nclass==5').science=np.nan

In [23]:
exam.isna().sum()

id         0
nclass     0
math       0
english    4
science    0
dtype: int64

In [ ]:
exam['english']